.creator_main {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .book_time_sele,
  .role_selector {
    padding: 8px;
    border: 1px solid #ff9b9d;
    border-radius: 4px; 
    /* background-color: #ff9b9d;  */
    color: #ff9b9d; 
    font-weight: 700;
    margin-right: 10px;
  }
  
  .add_book_btn {
    padding: 10px;
    background-color: #fff; 
    color: #ff9b9d; 
    border: 1px solid #ff9b9d; 
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .add_book_btn:hover {
    background-color: #ff9b9d; 
    color: #fff; 
  }