.loginform_main{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.login_message_div{
    width: 60%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* border: 2px solid green; */
    background-image: url('https://cdn.dribbble.com/users/604891/screenshots/16581214/media/bb111973c18ec6b36a067efdecc9a8ff.gif');
    background-size: 110%;
    border-right: 1px solid #bad4ff;
}
.login_message_div>h1{
    text-align: center;
    margin: 25px auto 2px auto;
    font-weight: 900;
    color: #222e50;
}
.login_message_div>p{
    margin: 0px 8px;
    font-weight: 700;
    color: #222e50;
    text-align: center;
}
.login_form_div{
    width: 40%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_form_div>h2{
    text-align: center;
    font-weight: 900;
    color: #222e50;
    margin: 2px auto;
}
.login_form_div>p{
    text-align: center;
    font-weight: 700;
    margin: 0px 5px 20px 5px;
    color: #222e50;
}
.login_form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_form>label{
    margin: 10px auto 2px auto;
    font-weight: 700;
    color: #222e50;
}
.login_form_input{
    width: 40%;
    height: 35px;
    background-color: #edf7f6;
    border: none;
    border-left: 5px solid #ff9b9d;
    font-weight: 700;
    color: #222e50;
}
.login_form_submit_btn{
    margin: 30px auto;
    width: 25%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #ff9b9d;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.login_form_submit_btn:hover{
    background-color: white;
    border: 1px solid #ff9b9d;
    color: #ff9b9d;
}
.login_signup_text{
    text-align: center;
    font-weight: 700;
    color: #222e50;
    margin: 5px auto;
}
/* Media */
/* Small Screens */
@media screen and (min-width:320px) and (max-width:767px){
    .loginform_main{
        flex-direction: column;
    }
    .login_message_div{
        width: 100%;
        background-repeat: no-repeat;
        background-size: 120%;
        height: 350px;
        border-bottom: 1px solid #bad4ff;
    }
    .login_form_div{
        width: 100%;
    }
}

/* Medium Screens */
@media screen and (min-width:768px) and (max-width:1024px){
    .loginform_main{
        flex-direction: column;
    }
    .login_message_div{
        width: 100%;
        background-repeat: no-repeat;
        background-size: 120%;
        height: 400px;
        border-bottom: 1px solid #bad4ff;
    }
    .login_form_div{
        width: 100%;
    }
}